body {
    background-color: var(--bs-background);
    font-family: Arial, sans-serif;
}

.card {
    background-color: var(--bs-text-light);
    border: 1px solid var(--bs-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    background-color: var(--bs-secondary);
    color: var(--bs-text-light);
}

.card-title,
.info-card {
    display: flex;
    justify-content: space-between;
}

.card-link,
.card-body {
    color: var(--bs-secondary);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#links {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.addBtn {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
    background-color: var(--bs-success);
}

.details-card {
    height: 25vh;
    overflow: scroll;
}

.link-card {
    padding-top: 10px;
}

#back {
    font-size: 3rem;
    color: red;
    transition: color 0.3s ease;

}

#back:hover {
    color: rgb(179, 11, 45);
    /* Darker shade on hover */
}

.box {
    display: flex;
    justify-content: space-between;
}

.left {
    margin-right: auto;
    margin-left: auto;
}

.right {
    margin-right: auto;
}

.hide {
    visibility: hidden;
}

.not-complete {
    background-color: rgb(95, 93, 93);
    color: white;
    border-color: rgb(95, 93, 93);
}

.not-complete:hover {
    background-color: red;
    border-color: red;
}

#footerPlaceholder {
    height: 180px;
}

.btn-edit {
    background-color: var(--bs-btn);
    color: var(--bs-text-light);
}