.card-title, .info-card {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    color: #89b9da;
}

.card-link .card-body {
    color: inherit;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#links {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.addBtn {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
}

.details-card {
    height: 25vh;
    overflow: scroll;
}

.link-card {
    padding-top: 10px;
}

#back {
    font-size: 3rem;
    color: red; 
    transition: color 0.3s ease;

}

#back:hover {
    color: rgb(179, 11, 45); /* Darker shade on hover */
}

.box {
    display: flex;
    justify-content: space-between;
}

.left {
    margin-right: auto;
    margin-left: auto;
}

.right {
    margin-right: auto;
}

.hide {
    visibility: hidden;
}

.not-complete {
    background-color: rgb(95, 93, 93);
    color: white;
    border-color: rgb(95, 93, 93);
}

.not-complete:hover {
    background-color: red;
    border-color: red;
}
