.card-title, .info-card {
    display: flex;
    justify-content: space-around;
}

.material-icons {
    color: #89b9da;
}

.card-link .card-body {
    color: inherit;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#links {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.addBtn {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
}

.details-card {
    height: 30vh;
    overflow: scroll;
}

.link-card {
    padding-top: 10px;
}
