:root {
    
    --start-color: #243010;
    --end-color: #cad593;
    
}

#card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background-color: linear(135deg, #a1c349, #243010);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 8px;

}

.card-1 {
    background-color: linear(135deg, #a1c349, #243010);
}

.card-2 {
    background-color: linear(135deg, #a1c349, #243010);
}

.card-3 {
    background-color: linear(135deg, #a1c349, #243010);
}

.card-4 {
    background-color: linear(135deg, #a1c349, #243010);
}

.card-5 {
    background-color: linear(135deg, #a1c349, #243010);
}

.card-6 {
    background-color: linear(135deg, #a1c349, #243010);
}

.card-7 {
    background-color: linear(135deg, #a1c349, #243010);
}
