
.card {
    border-radius: 8px; 
    padding: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     
}

#card-mb-1 -gradient-card-1 {
    background-color: linear(135deg, #a1c349, #243010);
}

.gradient-card-2 {
    background-color: linear(135deg, #a1c349, #243010);
    color: white;
    
}