
.nav-icon {
    width: 30px; /* Adjust this value as needed */
    height: auto; /* Keeps the aspect ratio */
}

#newAssignImg {
    width: 30px;
    height: auto;
    align-self: center;
}

#newAssign {
     padding: 10px;
}

#assignContainer {
    height: 580px;
}



.addBtn {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

.card-link {
    text-decoration: none;          
    color: #000;                    
    border-radius: 10px;            
    display: block;                       
    transition: filter 0.3s, transform 0.3s; 
}

.card-link:hover {
    cursor: pointer;                
    filter: brightness(1.2); 
    transform: translateY(-5px);
}

.card-link .card-body {
    color: inherit;                
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}