
.nav-icon {
    width: 30px; /* Adjust this value as needed */
    height: auto; /* Keeps the aspect ratio */
}

#newAssignImg {
    width: 30px;
    height: auto;
    align-self: center;
}

#newAssign {
     padding: 10px;
}

#assignContainer {
    height: 580px;
}



.addBtn {
    display: block;
    margin: auto;
}
